*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(255, 70, 70);
}
a:hover{
  text-decoration: none;
}

 li{

}

.menu{
  background-color: black;
}

.nav-links{
/* display: flex;
justify-content: center; */
margin-left: auto;
margin-right: auto;

}

.nav-links li{
  color: white;
  list-style: none;
  display: inline;
  margin-left: 65px;
  margin-right: 65px
}

.nav-links li:hover{
  text-decoration: underline;
}

#toggle{
  color: white;
  background-color: white;
  text-align: center;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
}

.header-img{
  height: 15em;
  width: 100vw;
}

.main-desc{
  font-size: 22px;
  text-align: center;
}

.food-menu li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.hours{
  list-style: none;
}

@media (max-width:576px){
  .nav-links li{
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}